.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 600px;
  min-height: 100vh;
  padding: 4rem 1rem;
  text-align: center;
}

.mainImageContainer {
  position: relative;
  margin: 2rem 0;
  width: 80%;
  aspect-ratio: 12/9;
  /* aspect-ratio: 1/1; */
}

.mainImage {
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 25%);
}


.inputForm {
  width: 100%;
}